<section class="demo-section demo-section--progress demo-page--progress">
    <div id="usage" class="mdl-include mdl-js-include" data-url="views/usage/progress.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <h5>Simple MDL Progress Bar</h5>
        <div id="p1" class="mdl-progress mdl-js-progress"></div>
        <h5>With Indeterminate Progress</h5>
        <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <h5>With Buffering</h5>
        <div id="p3" class="mdl-progress mdl-js-progress"></div>
        <h5>Data binding</h5>
        <div>Drag me and check how the "Default" bar reacts...</div>
        <p>
            <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="44" tabindex="0" step="1"
                   id="slider"/>
        </p>
    </div>
</section>
